<!-- No Model needed , we are passing data to backend.  Not recieving anything-->
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models;
@model Group6Application.Models.EmployeeView
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $('#submittingModal').modal('show');
            if (pageValid()){  
                submit();
            }
            else{
                $('#submittingModal').modal('hide');
            }
        });
    });

    function pageValid() {
        var pageValid = false;
        var invalidObjects = 0;
        var listOfInvalidObjects = "";

        // Do for each required input
        var inputID = "#FirstName";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }

        inputID = "#LastName";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }  

        inputID = "#Email";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }

        inputID = "#Title";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }

        inputID = "#Wage";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }

        inputID = "#StartDate";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }

        inputID = "#DepartmentID";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }


        if (invalidObjects == 0) {
            pageValid = true;
        }
        return pageValid;
    }

  
    // Use AddDepartment as example of how to build this function out
    function submit() {
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddEmplyeeDB")", // must match function name in controller
            data: {
                Address: $('#Address').val(),
                Wage: $('#Wage').val(),
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                DepartmentID: $('#DepartmentID').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                Email: $('#Email').val(),
                Title: $('#Title').val(),
                StartDate: $('#StartDate').val(),
                SupervisorID: $('#SupervisorID').val(),
            },
            dataType: "text",
            error: function (msg) {
                $("#submittingModal").modal("toggle"); // for these modals, copy from very bottom of AddDepartment page
                $(".modal-backdrop").remove();
                $("#errorModal").modal();
            },
            success: function (data) {
                var json = $.parseJSON(data);
                if (json.submissionResult) { // Submission is true
                    $("#confirmationModal").modal();
                }
                else {
                    $("#submittingModal").modal("toggle");
                    $(".modal-backdrop").remove();
                    $("#errorModal").modal();
                }
            }
        });
    }
</script>

<html>
<div class="row text-center">
    <div class="col-md-12">
        <h1>Add Employee</h1>
    </div>

    <div class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 ">

        <form>
            <h3 class="">Employee Information</h3>

            <label for="FirstName">FirstName</label>
            <input type="text" id="FirstName" name="FirstName" required />
            <span id="FirstNameRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="LastName">LastName</label>
            <input type="text" id="LastName" name="LastName" required />
            <span id="LastNameRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="Address">Address</label>
            <input type="text" id="Address" name="Address" required />
            <span id="AddressRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="Wage">Wage</label>
            <input type="number" id="Wage" name="Wage" required />
            <span id="WageRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="DepartmentID">DepartmentID</label>
            <select id="DepartmentID" name="DepartmentID" required />

            <option value="">Unassigned</option>
            @{
                foreach (SelectListItem id in Model.DepartmentIDs)
                {
                    if (!String.IsNullOrEmpty(id.Text))
                    {
                        <option value="@id.Value">@id.Text</option>
                    }

                }
            }
            </select>
            <span id="DepartmentIDRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="PhoneNumber">PhoneNumber</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" required />
            <br />

            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" required />
            <span id="EmailRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="Title">Title</label>
            <input type="text" id="Title" name="Title" required />
            <span id="TitleRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="StartDate">StartDate</label>
            <input type="date" id="StartDate" name="StartDate" required />
            <span id="StartDateRequiredAlert" class="collapse required">Required Field</span>
            <br />

            <label for="SupervisorID">SupervisorID</label>
            <select id="SupervisorID" name="SupervisorID" required />
            <option value="">Unassigned</option>
            @{
                foreach (SelectListItem id in Model.EmployeeIDs)
                {
                    if (!String.IsNullOrEmpty(id.Text))
                    {
                        <option value="@id.Value">@id.Text</option>
                    }

                }
            }
            </select>
            <br />
            <div class="col-md-3">
                <p>
                    <button type="button" id="submit" name="submit" class="btn-block">Submit</button>
                </p>
            </div>
        </form>
        <div class="col-md-4">
            <a href="javascript:history.go(-1)"><button>Return</button></a>
        </div>
    </div>
</div>

<div id="submittingModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>

    </div>

</div>

<div id="errorModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

</html>
