@{
    ViewBag.Title = "Employee Page";
}
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models;
@model Group6Application.Models.EmployeeView

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<div class="text-center">
    <h1 class="display-4">Employee</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Supervisor ID</th>
            <th>Department ID</th>
            <th>Start Date</th>
            <th>Wage</th>
            <th>Email</th>
            <th>Address</th>
            <th>Title</th>
        </tr>
        <tr>

            @{

                foreach (EmployeeTemplate employee in Model.Employee)
                {
                <tr>
                    <th><a href="/Employee/View?id=@employee.ID">@employee.ID</a></th>
                    <th>@employee.FirstName</th>
                    <th>@employee.LastName</th>
                    <th>@employee.Phone_Number</th>
                    <th>@employee.Supervisor_ID</th>
                    <th>@employee.Department_ID</th>
                    <th>@employee.Start_Date</th>
                    <th>@employee.Wage</th>
                    <th>@employee.Email</th>
                    <th>@employee.Address</th>
                    <th>@employee.Title</th>
                </tr>
                }

            }
    </table>
    <br />
    <a class="text-center" href="@Url.Action("Add", "Employee")">
        <button>Add Employee</button>
    </a>
    <a class="text-center" href="@Url.Action("Delete", "Employee")">
        <button>Delete Employee</button>
    </a>
</div>

</html>