@{
    ViewBag.Title = "Employee Page";
}
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models;
@model Group6Application.Models.EmployeeView

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<div class="text-center">
    <h1 class="display-4">Employee</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Supervisor ID</th>
            <th>Department ID</th>
            <th>Start Date</th>
            <th>Email</th>
            <th>Title</th>
        </tr>
        <tr>

            @{

                foreach (EmployeeTemplate employee in Model.Employee)
                {
                <tr>
                    <td><a href="/Employee/View?id=@employee.ID">@employee.ID</a></td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Supervisor_ID</td>
                    <td>@employee.Department_ID</td>
                    <td>@employee.Start_Date</td>
                    <td>@employee.Email</td>
                    <td>@employee.Title</td>
                </tr>
                }

            }
    </table>
    <br />
    <a class="text-center" href="@Url.Action("Add", "Employee")">
        <button>Add Employee</button>
    </a>
    <a class="text-center" href="@Url.Action("Delete", "Employee")">
        <button>Delete Employee</button>
    </a>
</div>

</html>