@{
    ViewBag.Title = "Employee Page";
}
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models;
@model Group6Application.Models.EmployeeTemplate

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<div class="text-center">
    <h1 class="display-4">Employee</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Supervisor ID</th>
            <th>Department ID</th>
            <th>Start Date</th>
            <th>Wage</th>
            <th>Email</th>
            <th>Address</th>
            <th>Title</th>
        </tr>
        <tr>

            @{

            <tr>
                <th>@Model.ID</th>
                <th>@Model.FirstName</th>
                <th>@Model.LastName</th>
                <th>@Model.Phone_Number</th>
                <th>@Model.Supervisor_ID</th>
                <th>@Model.Department_ID</th>
                <th>@Model.Start_Date</th>
                <th>@Model.Wage</th>
                <th>@Model.Email</th>
                <th>@Model.Address</th>
                <th>@Model.Title</th>
            </tr>

            }
    </table>

    <div class="row">

        <div class="col-md-4">
            <a href="/Employee/Update?id=@Model.ID"><button>Update Employee</button></a>
        </div>

        <div class="col-md-4">
            <a href="/Employee"><button>Return</button></a>
        </div>
    </div>

</div>

</html>