@{
    ViewBag.Title = "Department Page";
}
@using Microsoft.AspNetCore.Authorization; 
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models
@model Group6Application.Models.DepartmentView

<script>

    ready(function () {
        $("#addDepartmentRedirect").click(function () {
            $('#submittingModal').modal({
                backdrop: 'static',
                keyboard: false
            })
            addDepartmentRedirect();
        });
    });

    function addDepartmentRedirect() {
        Response.Redirect(@Url.Action("AddDepartment", "Department"))

    }
</script>


<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<div class="text-center">

    <div class="row text-start">
        <h1 class="text-center">Current Departments</h1>
        <table>
            <div class="col-md-12">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Supervisor ID</th>
                    <th>Number of Employees</th>
                    <th>Department Page</th>
                </tr>

                @{
                    foreach (DepartmentTemplate dept in Model.Departments)
                    {
                    <tr>
                        <td>@dept.ID</td>
                        <td>@dept.Name</td>
                        @if (!String.IsNullOrEmpty(dept.SupervisorID))  
                        {
                            <a href="/Employee/View?id=@dept.SupervisorID"><td>@dept.SupervisorID</td></a>
                        }
                        else {<td>@dept.SupervisorID</td>}

                        <td>@dept.Number_of_Employees</td>
                        <td><a href="/Department/View?id=@(dept.ID)">@dept.Name Department</a></td>
                    </tr>
                    }
                }

            </div>
            
        </table>
        <br />
        <a class="text-center" href="@Url.Action("AddDepartment", "Department")">
            <button>Add Department</button>
        </a>
    </div>

</div>

</html>
