@{
    ViewBag.Title = "View Department Page";
}
@using Microsoft.AspNetCore.Authorization; 
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models
@model Group6Application.Models.DepartmentTemplate

<script>

    ready(function () {
        $("#addDepartmentRedirect").click(function () {
            $('#submittingModal').modal({
                backdrop: 'static',
                keyboard: false
            })
            addDepartmentRedirect();
        });
    });

    function addDepartmentRedirect() {
        Response.Redirect(@Url.Action("AddDepartment", "Department"))
    }
</script>


<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<div class="text-center">
    <div class="row">
        <div class="col-4 text-start">
            <h4>Employees</h4>
            <ul style="list-style-type: none">
                @foreach (EmployeeTemplate employee in Model.Employees)
                {
                    <a href="/Employee/View?id=@employee.ID"><li>@employee.FirstName @employee.LastName</li></a>
                }
                
            </ul>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-md-12">
                    <h1><strong>@(Model.Name)</strong> Department </h1>
                </div>
                
                @if (!String.IsNullOrEmpty(Model.SupervisorID))
                {
                    <div class="col-md-6">
                        <h3>Supervisor ID</h3>
                        <p>@(Model.SupervisorID)</p>
                    </div>
                }

                <div class="col-md-6">
                    <h3>Number Of Employees</h3>
                    <p>@Model.Number_of_Employees</p>
                </div>

                <div class="col-md-6">
                    <h3>Department ID</h3>
                    <p>@Model.ID</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <h2>Projects</h2>
                </div>

                
                <table>
                    <div class="col-md-12">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>View Project</th>
                        </tr>
            
                        @foreach (Project project in Model.Projects)
                        {
                            <tr>
                                <td>@project.ID</td>
                                <td>@project.Name</td>
                                <td>@project.Status</td>
                                <td>@project.Description</td>

                                <td><a href="/Project/View?id=@(project.ID)">View @project.Name</a></td>
                            </tr>

                        }

                    </div>
                </table>
                <p></p>
                <div  class="row">
                    <div class="col-md-4">
                        <a href="/Department/Delete?id=@Model.ID"><button>Delete Department</button></a>
                    </div>

                    <div class="col-md-4">
                        <a href="/Department/Update?id=@Model.ID"><button>Update Department</button></a>
                    </div>

                    <div class="col-md-4">
                        <a class="text-center" href="/Department/AddProject?deptID=@Model.ID"><button>Add Project</button></a>
                    </div>
                
                    <div class="col-md-4">
                        <a href="/Department"><button>Return</button></a>
                    </div>
                </div>
                
                


                
            </div>

        </div>
            

    </div>
    
</div>

</html>