@model MVC_Test.Models.TaskModel
@{

}
@using MVC_Test.Controllers
@using Group6Application.Models;
@using System.Data;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
<html>

<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    th {
        padding: 0 15px;
    }
    td{
        padding: 0 15px;
    }
    input {display: inline;}

    .container {
        display:flex;
        flex-direction:row;
    }
    .main-table{
        flex:3;
    }
    .side-table{
        flex:1;
        margin-left:auto;
        margin-right:0;
    }

        #taskDescription {
            resize: both;
            width:50vw;
            height:30vh;
        }
        #taskName {
            width: 30vw;
        }
        #submit{
            width: auto;
        }
        #delete{
            width:auto;
        }
</style>
</head>
<script>
    $(document).ready(function () {
        $("#saveTask").click(function () {
            saveTask();
        });
        $("#deleteTask").click(function () {
            deleteTask();
        });
    });

    function deleteTask() {
        var result = confirm("Are you sure you want to Delete this Task?");
        if (result == true) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("deleteTask")",
                data: {
                    tskID: @Model.ID.ToString(),
                },
                dataType: "text",
                error: function (msg) {
                    alert(msg);
                },
                success: function (data) {
                    var json = $.parseJSON(data);
                    if (json.submissionResult) { // Submission is true
                        alert('Task was deleted!');
                        window.history.back();
                    }
                    else {
                        alert(json.message);
                    }
                }
            });
        }
        else {
            return;
        }
    }

    function saveTask() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveChanges")", // must match function name in controller
            data: {
                tskID: @Model.ID.ToString(),
                taskName: $('#taskName').val(),
                description: $('#taskDescription').val(),
                checkPointID: $('#TaskCheckPointID').val(),
                startDate: $('#taskStart').val(),
                dueDate: $('#taskDue').val(),
                assignee: $('#taskAssignee').val(),
                status: $('#taskStatus').val(),
            },
            dataType: "text",
            error: function (msg) {
                alert(msg);
            },
            success: function (data) {
                var json = $.parseJSON(data);
                if (json.submissionResult) { // Submission is true
                    alert('Changes were saved!');
                    window.location.replace('/Task?taskID=' + json.id.toString());
                }
                else {
                    alert(json.message);
                }
            }
        });
    }
</script>
<body>

    <div class="container">
        <table class="main-table">
            <tr>
                <th>ID</th>
                <th>Task Name</th>
            </tr>
            <tr>
                <td>@Model.ID</td>
                <td><input name="taskName" id="taskName" type="text" value="@Model.Name" required></input></td>
            </tr>
            <tr>
                <th colspan="2">Task Description</th>
            </tr>
            <tr>
                <td colspan="2"><textarea name="taskDescription" id="taskDescription" type="text">@Model.Description</textarea></td>
            </tr>
        </table>
        <table class="side-table">
            <tr>
                <th>Status</th>
            </tr>
            <tr>
                <td>
                    <select name="taskStatus" id="taskStatus">
                        @{
                            if (Model.Status == "Incomplete")
                            {
                                <option value="Incomplete" selected>Incomplete</option>
                                <option value="Complete">Complete</option>
                            }
                            else
                            {
                                <option value="Complete" selected>Complete</option>
                                <option value="Incomplete">Incomplete</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <th>Assignee</th>
            </tr>
            <tr>
                <td>
                    <select name="taskAssignee" id="taskAssignee">
                        @{
                            foreach (int assigneeID in TaskController.getAssignees())
                            {
                                EmployeeTemplate employee = TaskController.getAssignee(assigneeID);
                                string fullName = employee.FirstName + " " + employee.LastName;
                                if (assigneeID == Model.Assignee)
                                {
                                    <option value=@assigneeID selected>@fullName</option>
                                    continue;
                                }
                                <option value=@assigneeID>@fullName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>Checkpoint</th>
            </tr>
            <tr>
                <td>
                    <select name="TaskCheckPointID" id="TaskCheckPointID">
                        @{
                            foreach (int checkID in TaskController.getCheckpoints())
                            {
                                CheckpointModel checkpoint = TaskController.getCheckpoint(checkID);
                                if (checkID == Model.CheckpointID)
                                {
                                    <option value=@checkID selected>@checkpoint.Name</option>
                                    continue;
                                }
                                <option value=@checkID>@checkpoint.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>Start Date</th>
            </tr>
            <tr>
                @{
                    if (Model.Start != null)
                    {
                        <td><input name="taskStart" id="taskStart" type="date" value="@Model.Start.Value.ToString("yyyy-MM-dd")"></input></td>

                    }
                    else
                    {
                        <td><input name="taskStart" id="taskStart" type="date" value=""></input></td>
                        
                    }
                }
                
            </tr>

            <tr>
                <th>Due Date</th>
            </tr>
            <tr>
                @{
                    if (Model.Due != null)
                    {
                        <td><input name="taskDue" id="taskDue" type="date" value="@Model.Due.Value.ToString("yyyy-MM-dd")"></input></td>

                    }
                    else
                    {
                        <td><input name="taskDue" id="taskDue" type="date" value=""></input></td>

                    }
                }
                
            </tr>
            <tr>
                <th>Project</th>
            </tr>
            <tr>
                <td>@TaskController.GetProject(Model.CheckpointID).Name</td>
            </tr>
        </table>
    </div>
    <asp:label id="myLabel" runat="server" />
    <center>
        <table>
            <tr>
                <td><button type="button" id="saveTask" name="saveTask" class="btn-block">Save Changes</button></td>
                <td><button type="button" id="deleteTask" name="deleteTask" class="btn-block">Delete Task</button></td>
            </tr>
        </table>
        
    </center>
</body>
</html>