@{
    ViewBag.Title = "View Project Page";
}
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models
@model Group6Application.Models.Project

<script>

    ready(function () {
        $("#addDepartmentRedirect").click(function () {
            $('#submittingModal').modal({
                backdrop: 'static',
                keyboard: false
            })
            addDepartmentRedirect();
        });
    });

    function addDepartmentRedirect() {
        Response.Redirect(@Url.Action("AddProject", "Department"))
    }
</script>


<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<div class="text-center">
    <div class="row">
        <div class="col-4 text-start">
            <h4><strong>Project Statisitcs:</strong> </h4>
            <div><h4>ID: </h4><p><strong>@(Model.ID)</strong><p></div>
            <div><h4>Combined Hours: </h4><p><strong>@(Model.TotalHours)</strong><p></div>
            <div><h4>Total Cost: </h4><p><strong>@(Model.Cost)</strong><p></div>
            <div><h4>Client: </h4><p><strong>@(Model.ClientID)</strong><p></div>
            <div><h4>Budget: </h4><p><strong>@(Model.Budget)</strong><p></div>
            <div><h4>DepartmentID: </h4><p><strong>@(Model.DepartmentID)</strong><p></div>
            <div><h4>SupervisorID: </h4><p><strong>@(Model.SupervisorID)</strong><p></div>
            <div><h4>Status: </h4><p><strong>@(Model.Status)</strong><p></div>
            <div><h4>Description: </h4><p><strong>@(Model.Description)</strong><p></div>
            <div><h4>Start Date: </h4><p><strong>@(Model.StartDate)</strong><p></div>
            <div><h4>End Date: </h4><p><strong>@(Model.EndDate)</strong><p></div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-md-12">
                    <h1><strong>@(Model.Name)</strong> Project </h1>
                </div>

                <div class="col-md-6">
                    <h3> Supervisor ID</h3>
                    <p>@Model.SupervisorID</p>
                </div>

                <div class="col-md-6">
                    <h3>Department ID</h3>
                    <p>@Model.DepartmentID</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <h2>Checkpoints</h2>
                </div>


                <table class="table">
                    <div class="col-md-12">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>View Checkpoint</th>
                    </tr>

                        @foreach (CheckpointModel cp in Model.Checkpoints)
                        {
                        <tr>
                            <td>@cp.ID</td>
                            <td>@cp.Name</td>
                            <td>@cp.Status</td>
                            <td>@cp.Description</td>

                            <td><a href="/Checkpoint/View?id=@(cp.ID)">View @cp.Name</a></td>
                        </tr>

                        }

            </div>
            </table>
            <p></p>
            <div class="row">
                <div class="col-md-4">
                    <a href="/Department/Delete?id=@Model.ID"><button>Delete Project</button></a>
                </div>

                <div class="col-md-4">
                    <a href="/Department/Update?id=@Model.ID"><button>Update Project</button></a>
                </div>

                <div class="col-md-4">
                    <a class="text-center" href="/Department/Project/AddCheckpoint?projID=@Model.ID"><button>Add Checkpoint</button></a>
                </div>

                <div class="col-md-4">
                    <a href="/Department"><button>Return</button></a>
                </div>
            </div>





        </div>

    </div>


</div>

</div>

</html>
