@{
    ViewBag.Title = "Timesheet Page";
}
@using Microsoft.AspNetCore.Authorization; 
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using Group6Application.Models
@model Group6Application.Models.TimesheetDeleteView

<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>

<script>

    $(document).ready(function () {
        $("#delete").click(function () {
            $('#submittingModal').modal('show');
            if (pageValid()) {
                console.log("Deleting");
                Delete();
            }
            $('#submittingModal').modal('hide');
        });
    });

    function pageValid() {
        var pageValid = false;
        var invalidObjects = 0;
        var listOfInvalidObjects = "";

        if (invalidObjects == 0) {
            pageValid = true;
        }
        return pageValid;
    }

    function Delete() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteTimesheetDB")", // must match function name in controller
            data: {
                TimesheetID: @Model.timesheet.EntryID,
            },
            dataType: "text",
            error: function (msg) {
                $(".modal-backdrop").remove();
                $("#errorModal").modal();
            },
            success: function (data) {
                var json = $.parseJSON(data);
                if (json.submissionResult) { // Submission is true
                    window.location.replace("/Timesheet");
                }
                else {
                    $("#errorModal").modal();
                }
            }
        });
    }
</script>


<html>

<div class="text-center">
    <div class="row">
        <h2>View Timesheet Details</h2>
        <div class="col-md-3">
            <h4>Employee</h4>
            <p><a href="/Employee/View?id=@Model.timesheet.WorkerID">@Model.WorkerFirstName @Model.WorkerLastName</a></p>
        </div>

        <div class="col-md-3">
            <h4>Hours Worked</h4>
            <p>@Model.timesheet.HoursWorked</p>
        </div>
        <div class="col-md-3">
            <h4>Date</h4>
            <p>@Model.timesheet.Date.ToShortDateString()</p>
        </div>
        <div class="col-md-3">
            <h4>Project</h4>
            <p><a href="/?@Model.timesheet.ProjectID">@Model.Project</a></p>
        </div>

        <br />
        <br />
        <form>

            <div class="col-md-3">
                <p>
                    <button type="button" id="delete" name="delete" class="btn-block">Delete Entry</button>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <a href="/Timesheet/Update?id=@Model.timesheet.EntryID">
                        <button type="button" id="update" name="update" class="btn-block">Update Entry</button>
                    </a>
                </p>
            </div>
        </form>
    </div>

</div>

<div id="submittingModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>

    </div>

</div>

<div id="errorModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

</html>
